{% extends "layout.html" %}
{% block content %}
<div class="row">
    <div class="col-lg-6">
        <h3>Nhập đề bài:</h3>
        <hr>
        <div class="input-group mb-3">
            <form action="/bai-toan-quan-he" method="post">
                {% if list_vertex_name %}
                <input type="text" class="form-control" value="{{ list_vertex_name }}" placeholder="Nhập vào tập đỉnh"
                    aria-label="Nhập vào tập đỉnh" aria-describedby="button-addon" name="list_vertex_name">
                <br>
                {% else %}
                <input type="text" class="form-control" placeholder="Nhập vào tập đỉnh" aria-label="Nhập vào tập đỉnh"
                    aria-describedby="button-addon" name="list_vertex_name">
                {% endif %}
                <br>
                <input type="text" class="form-control" name="list_edge_name" placeholder="Nhập vào tập quan hệ R">
                <br>
                <div class="input-group-append">
                    <button class="btn btn-primary" type="submit" id="button-addon2">Vẽ lược đồ Hasse</button>
                </div>
            </form>
        </div>

        {% if edges %}
        <h2>Các cạnh đã nhập</h2>
        <ul>
            {% for edge in edges %}
            <li>{{ edge }}</li>
            {% endfor %}
        </ul>

        <h2>Các đỉnh đã nhập</h2>
        <ul>
            {% for vertex in vertexes %}
            <li>{{ vertex }}</li>
            {% endfor %}
        </ul>
        {% endif %}

        {% if pos %}
        <h2>Lược đồ Hasse</h2>
        <img src="/static/images/origin_image.png" alt="Graph Visualization">
        {% endif %}

        {% if button_text %}
        <div class="input-group-append">
            <button class="btn btn-primary" type="submit" id="button-addon2">Kiểm tra các tính chất</button>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}