{% extends "layout.html" %}
{% block content %}
<div class="row">
    <div class="col-lg-6">
        <h3>Nhập đề bài:</h3>
        <hr>
        <div class="input-group mb-3">
            <form action="/bai-toan-quan-he" method="post">
                {% if list_vertex_name %}
                <input type="text" class="form-control" value="{{ list_vertex_name }}" placeholder="Nhập vào tập đỉnh"
                    aria-label="Nhập vào tập đỉnh" aria-describedby="button-addon" name="list_vertex_name">
                <br>
                {% else %}
                <input type="text" class="form-control" placeholder="Nhập vào tập đỉnh" aria-label="Nhập vào tập đỉnh"
                    aria-describedby="button-addon" name="list_vertex_name">
                {% endif %}
                <br>
                <input type="text" class="form-control" name="list_edge_name" placeholder="Nhập vào tập quan hệ R">
                <br>
                <div class="input-group-append">
                    <button class="btn btn-primary" type="submit" id="button-addon2">Vẽ lược đồ Hasse và kiểm tra các tính chất</button>
                </div>
            </form>
        </div>

        {% if edges %}
        <h2>Các cạnh đã nhập</h2>
        <ul>
            {% for edge in edges %}
            <li>{{ edge }}</li>
            {% endfor %}
        </ul>

        <h2>Các đỉnh đã nhập</h2>
        <ul>
            {% for vertex in vertexes %}
            <li>{{ vertex }}</li>
            {% endfor %}
        </ul>
        {% endif %}

        {% if pos %}
            <h2>Lược đồ Hasse</h2>
            <img src="/static/images/origin_image.png" alt="Graph Visualization">

            <h2>Các tính chất:</h2>
            <ul>
                <li>Tính phản xạ: {{ tinh_phan_xa }}</li>
                <li>Tính đối xứng: {{ tinh_doi_xung }}</li>
                <li>Tính bắc cầu: {{ tinh_bac_cau }}</li>
            </ul>

            <h2>Bao đóng phản xạ</h2>
            <img src="/static/images/phan_xa.png">

            <h2>Bao đóng đối xứng</h2>
            <img src="/static/images/doi_xung.png">

            <h2>Bao đóng bắc cầu</h2>
            <img src="/static/images/bac_cau.png">
        {% endif %}
    </div>
</div>
{% endblock %}