{% extends "layout.html" %}
{% block content %}
<div class="row">
    <div class="col-lg-6">
        <h3>Nhập đề bài cần tìm giá trị biểu thức:</h3>
        <hr>
        <form action="/tim-gia-tri-bieu-thuc" method="get">
            <div class="input-group mb-3">
                {% if expression %}
                <input type="text" class="form-control" value="{{ expression }}" placeholder="Nhập biểu thức"
                    aria-label="Nhập biểu thức" aria-describedby="button-addon" name="expression">
                {% else %}
                <input type="text" class="form-control" placeholder="Nhập biểu thức" aria-label="Nhập biểu thức"
                    aria-describedby="button-addon" name="expression">
                {% endif %}
                <div class="input-group-append">
                    <button class="btn btn-primary" type="submit" id="button-addon2">Xem kết quả</button>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-lg-12">
                    <h6>Ứng dụng hỗ trợ các ký hiệu sau để nhập một biểu thức bool</h6>
                    <br>
                    <table>
                        <thead>
                            <tr>
                                <th>Tên</th>
                                <th style="text-align: center;">Ký hiệu</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Phép lấy bù (not)</td>
                                <td style="text-align: center;"><b>~</b></td>
                            </tr>
                            <tr>
                                <td>Phép cộng (or)</td>
                                <td style="text-align: center;"><b>+</b></td>
                            </tr>
                            <tr>
                                <td>Phép nhân (and)</td>
                                <td style="text-align: center;"><b>*</b></td>
                            </tr>
                        </tbody>
                    </table>
                    <br>
                    <h6>Nhập: <quote> (0 + ~1) * 1 + ~0 * 1</quote>
                    </h6>
                </div>
            </div>
        </form>
    </div>
    {% if steps %}
    <div class="col-lg-6">
        <h3>Các bước giải:</h3>
        <hr>
        <ul class="list-group col-lg-12">
            <li class="list-group-item">
                <span class="result">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    {{ steps[0][0] | safe }}</span>
            </li>
            {% for step in steps[1: ] %}
            <li class="list-group-item">
                <span class="result">&#8660; &nbsp;&nbsp;&nbsp;&nbsp; {{ step[0] | safe }}</span>
            </li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}
</div>
{% endblock %}